/***

    Final Project - Web Development 1 (WEBD-1000)
    Name:			Mark Woods
    Date:			November 26th, 2019
    Description:	CSS for final project.

***/

footer{
    display: none;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: white;
}

html{
    background-color: black;
    font-family: 'Barlow', sans-serif;
    color: white;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171f19;
    width: 100%;
    line-height: 28px;
    position: absolute top;
}

#navbar ul li{
    margin: 0px 20px;
    vertical-align: middle;
    width: 150px;
    padding: 4px 40px;
    font-size: 16px;
}

#navbar ul li:hover{
    transition-duration: 100ms;    
    font-size: 20px;
    text-shadow: 4px 4px 5px black;
}

#main{
    width: 800px;
    font-size: larger;
    margin: 75px auto;
}

#currenttab{
    font-weight: bolder;
    font-size: 20px;
    color: green;
    height: 38px;
    background-color: #171f19;
}